@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

@mixin flex-center-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@mixin flex-left {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-top-center {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-top-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

@mixin flex-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin flex-top-between {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@mixin flex-column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-column-top-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin flex-column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin flex-column-between {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@mixin ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin card-in-gray {
  background-color: $color-ff;
  border-radius: 4px;
  opacity: 1;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.04);
}

@mixin card-in-gray-hover {
  @include card-in-gray;

  &:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.04);
  }
}

/* stylelint-disable */
@mixin line-clamp($numLines: 1) {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
  /* autoprefixer: off */
  @supports (-webkit-line-clamp: 2) {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: initial;
    display: -webkit-box;
    -webkit-line-clamp: $numLines;
    -webkit-box-orient: vertical;
  }
}
/* stylelint-enable */
